[submodule "worlds/rac_size_matters/pypine"]
	path = worlds/rac_size_matters/pypine
	url = https://github.com/evilwb/pypine.git
[submodule "worlds/dynamicpine/pypine"]
	path = worlds/dynamicpine/pypine
	url = https://github.com/evilwb/pypine.git
